@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald:400,700');
body {
  margin: 0px;
}
body section {
  display: block;
}
body #section-cover-image {
  position: relative;
  padding-bottom: 40rem;
}
body #section-cover-image #headerBackgroundImg {
  background: url('site-bg.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
}
body .page-content-about-img {
  display: inline-block;
  float: left;
}
body .page-content-about-img img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
body .inner-content-style {
  margin: 0 auto;
}
body .inner-content-style .one-third {
  width: 33%;
}
body .inner-content-style .two-thirds {
  width: 66%;
}
body .two-column-layout {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
body .page-content-about {
  padding: 4rem 0rem;
  overflow: auto;
}
body .page-header-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
}
body .page-text {
  font-family: 'Merriweather', serif;
  font-size: 0.9em;
}
body .inverted-coloring {
  padding: 4rem 0rem;
  background: #000;
}
body .inverted-coloring .page-header-text {
  color: #FFF;
}
body .inverted-coloring .page-text {
  color: #FFF;
}
body .center {
  text-align: center;
}
body a {
  text-decoration: none;
  color: #84BD00;
  cursor: pointer;
}
body a:hover {
  color: #99326D;
}
body a svg path:hover {
  fill: #84BD00;
  transition: fill 0.5s ease-out;
}
footer {
  background: #000;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
footer .social-contact-icons {
  align-self: center;
}
footer .social-contact-icons .instagram,
footer .social-contact-icons .linked-in,
footer .social-contact-icons .pinterest,
footer .social-contact-icons .facebook {
  float: left;
  display: inline-block;
  padding: 1em;
}
.navigation {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navigation a {
  color: #000;
  text-decoration: none;
}
.navigation a:hover {
  color: #84BD00;
  text-decoration: none;
  transition: color 0.5s ease-out;
}
.nav-container {
  margin: 0 auto;
  padding: 0px 0px;
}
.nav-dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-logo {
  position: absolute;
  float: left;
}
.nav-logo img {
  height: 3em;
  padding: 0.5em 2em;
}
nav {
  float: right;
  position: relative;
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}
nav ul {
  list-style: none;
  text-align: left;
}
nav ul li {
  float: left;
  display: inline;
  position: relative;
}
nav ul li:last-child {
  margin-right: 1em;
}
nav ul li > a:hover {
  color: #ffffff;
}
nav ul li > a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li a {
  display: block;
  color: #a9a9a9;
  padding: 0 20px;
  font-size: 1.5em;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  text-decoration: none;
  color: #ffffff;
}
nav ul li ul li {
  width: 190px;
}
nav ul li ul li a {
  background: #262626;
  display: block;
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}
nav ul li ul li a:hover {
  background: #fff;
  color: #ffffff;
}
#instafeed-personal a,
#instafeed-creative a {
  margin: 5px;
}
#instafeed-personal img,
#instafeed-creative img {
  border-radius: 10px;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 4em;
  width: 12em;
}
#nav-toggle {
  position: absolute;
  right: 7em;
  top: 3em;
  cursor: pointer;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: .4em;
  width: 3.5em;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -0.9em;
}
#nav-toggle span:after {
  bottom: -0.9em;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 750px) {
  .page-content-about-img {
    width: 55%;
    padding: 0% 20%;
  }
  body .two-column-layout {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .inner-content-style {
    width: 90%;
  }
  .nav-mobile {
    display: block;
    height: 7em;
  }
  .navigation {
    background-color: rgba(255, 255, 255, 0.95);
    height: 5em;
    width: 100%;
  }
  .nav-logo img {
    height: 4em;
  }
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 4em;
  }
  nav ul li {
    width: 100%;
    float: none;
  }
  nav ul li:last-child {
    margin-right: 0px;
  }
  nav ul li > a {
    padding: 1em 2em;
    line-height: 2em;
  }
  nav ul li:hover .nav-dropdown {
    display: none;
  }
  nav ul li ul li a {
    line-height: 20px;
  }
  .nav-dropdown {
    position: static;
    width: 100%;
  }
}
@media screen and (min-width: 751px) {
  .nav-list {
    display: block !important;
  }
  .nav-list ul {
    transition: all 300ms ease-in-out;
  }
  .navigation {
    height: 4em;
  }
}
@media screen and (max-width: 1250px) and (min-width: 675px) {
  .page-content-about-img {
    width: 40%;
    padding: 0% 5% 5% 0%;
  }
  .inner-content-style {
    margin: 0 auto;
    width: 70%;
  }
}
@media screen and (min-width: 1251px) {
  .page-content-about-img {
    width: 30%;
    padding: 0% 5% 5% 0%;
  }
  .inner-content-style {
    margin: 0 auto;
    width: 50%;
  }
}
